%p#notice= notice

%p
  %b Email:
  = @teacher.email
%p
  %b Password:
  = @teacher.password
%p
  %b Name:
  = @teacher.name

= link_to 'Edit', edit_teacher_path(@teacher)
\|
= link_to 'Back', teachers_path
